body, input, select, button {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
.calender{
  display: block;
  width: 320px;
  float: left;
  margin: 8px;

  &__header{
    background-color: #003580;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 3px;
    height: 36px;
    line-height: 36px;
    position: relative;
    text-align: center;

    &-label{
      font-size: 16px;
      line-height: 24px;
      background: none;
      padding: 6px 4px;
      display: inline-block;
      *display: inline;
      position: relative;
      z-index: 9999;
      overflow: hidden;
      margin: 0;
      font-weight: bold;
    }

    &-prev,&-next{
      display: block;
      cursor: pointer;
      outline: 0;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 75% 75%;
      *position: absolute;
      *top: 0;
      background: #07c;
      border: 3px solid #fff;
      -webkit-box-shadow: 1px 1px 2px #999;
      box-shadow: 1px 1px 2px #999;
      color: #fff;
      height: auto;
      width: 40px;
      text-indent: 0;
      opacity: 1;
      position: absolute;
      top: 3px;
      margin: 0;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
    }
    &-prev{
      left: 5px;
      right: auto;
      border-radius: 6px 0 0 6px;
      float: left;
    }
    &-next{
      left: auto;
      right: 5px;
      border-radius: 0 6px 6px 0;
      float: right;
    }
  }

  &__table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    td,th{
      width: 14.285714285714286%;
      padding: 0;
    }
    td{
      padding: 1px;
    }
    th {
      color: #212121;
      font-size: 14px;
      line-height: 33px;
      font-weight: bold;
      text-align: center;
    }
    .is-selected{
      button{
        color: #fff;
        background: #07c;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-weight: normal;
      }
    }
  }

  &__button{
    cursor: pointer;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    line-height: 15px;
    border: 1px solid #d2d2d2;
    background-color: #e9f0fa;
    color: #545454;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  }
}